.navbar{
    z-index: 9;
    position: relative;
}
.header-wrapper{
    height: 670px;
    position: static;
    display: flex;
    justify-content: space-around;
}
.card-image{
    position: absolute;
    left: 10px;
    width: 797px;
    transform: rotate(-14.92deg);
    top: 90px;
    left: 180px;
    opacity: 0.9;
}
.header-discription{
    z-index: 2;
    position: absolute;
    max-width: 560px;
    right: 200px;
    top: 330px;
}
.header-title{
    font-size: 40px;
    font-weight: bold;
    color: #292B36;
    text-align: right;
    margin-bottom: 25px;
}
.header-text{
    font-size: 24px;
    color: #014282;
    text-align: right;
}
/* .card-image{
    margin-left: 30px;
    position: static;
    left: 10px;
    width: 797px;
    transform: rotate(-14.92deg);
    top: 0;
    left: 0;
}
.header-discription{
    position: static;
    max-width: 600px;
    float: right;
    margin-right: 300px;
}
.header-title{
    font-size: 60px;
    color: #292B36;
    text-align: right;
}
.header-text{
    font-size: 32px;
    color: #014282;
    text-align: right;
} */
